# Pandas Cheat Sheet - Subsets
Pandas provides some very useful ways to extract rows and columns out of a DataFrame. This notebook will give a quick overview of some of them.

In [1]:
import pandas as pd

## The data
Let's create a DataFrame to use:

In [2]:
data = {
    'biscuit': [1,5,4,5,7,6,2],
    'scone': [4,8,9,8,2,8,6],
    'donut': [9,15,8,12,13,10,18],
    'muffin': [4,7,2,8,8,6,4],
}
index = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
df = pd.DataFrame(data, index=index)
df

           biscuit  scone  donut  muffin
Monday           1      4      9       4
Tuesday          5      8     15       7
Wednesday        4      9      8       2
Thursday         5      8     12       8
Friday           7      2     13       8
Saturday         6      8     10       6
Sunday           2      6     18       4

## Getting Data by Row
There are several ways to take a subset of rows from a dataframe:

In [3]:
df.head(4)  # Select first 4 rows

           biscuit  scone  donut  muffin
Monday           1      4      9       4
Tuesday          5      8     15       7
Wednesday        4      9      8       2
Thursday         5      8     12       8

In [4]:
df.tail(2)  # Select the last 2 rows

          biscuit  scone  donut  muffin
Saturday        6      8     10       6
Sunday          2      6     18       4

In [5]:
df.sample(4)  # Select 4 rows at random

           biscuit  scone  donut  muffin
Wednesday        4      9      8       2
Sunday           2      6     18       4
Thursday         5      8     12       8
Saturday         6      8     10       6

In [6]:
df.sample(frac=0.25)  # Select 25% of the rows at random

          biscuit  scone  donut  muffin
Sunday          2      6     18       4
Thursday        5      8     12       8

In [7]:
df.nlargest(3, 'scone')  # Select and order the top 3 rows based on the 'scone' value

           biscuit  scone  donut  muffin
Wednesday        4      9      8       2
Tuesday          5      8     15       7
Thursday         5      8     12       8

In [8]:
df.nsmallest(3, 'muffin')  # Select and order the bottom 3 rows based on the 'muffin' value

           biscuit  scone  donut  muffin
Wednesday        4      9      8       2
Monday           1      4      9       4
Sunday           2      6     18       4

In [9]:
df[df['biscuit'] < 4]  # Select the rows where 'biscuit' is less than 4

        biscuit  scone  donut  muffin
Monday        1      4      9       4
Sunday        2      6     18       4

## Getting data by Column
There are also some useful ways to gather columns:

In [10]:
df[['scone', 'muffin']]  # Select the 'scone' and 'muffin' columns

           scone  muffin
Monday         4       4
Tuesday        8       7
Wednesday      9       2
Thursday       8       8
Friday         2       8
Saturday       8       6
Sunday         6       4

In [11]:
df.biscuit  # Select only the 'biscuit' column (a pandas Series is returned)

Monday       1
Tuesday      5
Wednesday    4
Thursday     5
Friday       7
Saturday     6
Sunday       2
Name: biscuit, dtype: int64

## Using *loc* and *iloc*
These two functions provide easy ways to select both rows and columns.
- **loc** selects rows and columns by their *labels*
- **iloc** selects rows and columns by their *integer positions*

In [12]:
df.iloc[2:4]  # Select rows 2 to 4 (not including 4)

           biscuit  scone  donut  muffin
Wednesday        4      9      8       2
Thursday         5      8     12       8

In [13]:
df.iloc[:, [0, 2]]  # Select columns in positions 0 and 2

           biscuit  donut
Monday           1      9
Tuesday          5     15
Wednesday        4      8
Thursday         5     12
Friday           7     13
Saturday         6     10
Sunday           2     18

In [14]:
df.loc[['Monday', 'Friday']]  # Select only rows 'Monday' and 'Friday'

        biscuit  scone  donut  muffin
Monday        1      4      9       4
Friday        7      2     13       8

In [15]:
# Select only rows with 'biscuit' > 5, and only the 'biscuit' and 'muffin' columns
df.loc[df['biscuit'] > 5, ['biscuit', 'muffin']]

          biscuit  muffin
Friday          7       8
Saturday        6       6